.container-form {
    padding: 20px;
    background-color: #188fff28;
    margin: 50px 20px;
    border-radius: 10px;
    
    
}

h1 {
    font-size: 32px;
}
input {
    display: block;
    margin: 15px 0 15px 0;
}
button {
    background-color: #1890FF;
    padding: 10px;
    border-radius: 5px;
    border: none;
}