.container-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: var(--color-bg-primary);
    color: var(--color-font-primary)
}
.container {
    display: flex;
}

.item {
    margin-left: 10px;
    text-decoration: none;
    color: var(--color-font-primary);
}
header {
 header {
  height: 80px;
  background-color: var(--color-bg-secondary);
  color: var(--color-font-secondary);
  display: flex;
  align-items: center;
}   
}
.icone-casa {
    width: 20px;
    filter: invert();
}
.ativo {
    font-weight: 700;
}
