.dc-container {
  height: 70px;
  width: 100%;
  background-color: var(--ct-color-bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dc-titulo-header {
   font-weight: 700;
   color: var(--ct-color-font-primary);
}
